<h3>Detalles de la Facultad</h3>
<div>
  <div>
    <label><b>Código: </b> {{facultad.codigo_facu}}</label>
  </div>
  <div>
    <label><b>Nombre: </b> {{facultad.nombre_facu}}</label>
  </div>
  <div>
    <label><b>Decano: </b> {{ facultad.decano }}</label>
  </div>
  <div>
    <label><b>Modalidad: </b> {{ facultad.modalidad }}</label>
  </div>
  <div>
    <label><b>Proyecto de Investigación: </b> {{ facultad.proyec_invest_facu }}</label>
  </div>
  <div>
    <label><b>Descripción: </b> {{ facultad.descripcion }}</label>
  </div>
  <div>
    <label><b>Fecha de Creación: </b> {{ facultad.fecha_crea | date: 'dd/MM/yyyy' }}</label>
  </div>
  <div>
    <label><b>Teléfono: </b> {{ facultad.telefono }}</label>
  </div>
  <div>
    <label><b>Correo: </b> {{ facultad.correo }}</label>
  </div>
  <div>
    <label><b>Programa Académico: </b> {{ facultad.prog_academico }}</label>
  </div>
  <div>
    <label><b>Calendario Académico: </b> {{ facultad.calendar_academico }}</label>
  </div>
</div>
