<table class="table">
  <thead>
  <tr>
    <th scope="col">Decano</th>
    <th scope="col">Modalidad</th>
    <th scope="col">Proyecto de Investigacion</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Fecha de Creacion</th>
    <th scope="col">Telefono</th>
    <th scope="col">Correo</th>
    <th scope="col">Programa Académico</th>
    <th scope="col">Calendario Academico</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{facultad.decano}}</td>
    <td>{{facultad.modalidad}}</td>
    <td>{{facultad.proyec_invest_facu}}</td>
    <td>{{facultad.descripcion}}</td>
    <td>{{facultad.fecha_crea}}</td>
    <td>{{facultad.telefono}}</td>
    <td>{{facultad.correo}}</td>
    <td>{{facultad.prog_academico}}</td>
    <td>{{facultad.calendar_academico}}</td>
  </tr>
  </tbody>
</table>
