<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Facultad</title>
  <link rel="stylesheet" href="detalle-facultad.component.css">
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Decano</th>
    <th scope="col">Modalidad</th>
    <th scope="col">Proyecto de Investigación</th>
    <th scope="col">Descripción</th>
    <th scope="col">Fecha de Creación</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Correo</th>
    <th scope="col">Programa Académico</th>
    <th scope="col">Calendario Académico</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{facultad.decano}}</td>
    <td>{{facultad.modalidad}}</td>
    <td>{{facultad.proyec_invest_facu}}</td>
    <td>{{facultad.descripcion}}</td>
    <td>{{facultad.fecha_crea}}</td>
    <td>{{facultad.telefono}}</td>
    <td>{{facultad.correo}}</td>
    <td>{{facultad.prog_academico}}</td>
    <td>{{facultad.calendar_academico}}</td>
  </tr>
  </tbody>
</table>
</body>
</html>
