<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Facultad</title>
  <link rel="stylesheet" href="estilos.css"> <!-- Enlace al archivo CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- Enlace a Bootstrap -->
</head>

<div class="container-fluid max-width-900 my-4">
  <h2 class="text-ceginter mb-4">Editar Facultad</h2>
  <form [formGroup]="editarFacultadForm" (ngSubmit)="onSubmit()">
    <table class="table table-striped table-hover table-bordered align-middle">
      <tbody>
      <tr>
        <td><label for="codigoFacu" class="col-form-label">Código</label></td>
        <td><input type="text" readonly class="form-control-plaintext" id="codigoFacu" formControlName="codigoFacu"></td>
      </tr>
      <tr>
        <td><label for="nombreFacu" class="col-form-label">Nombre</label></td>
        <td><input type="text" class="form-control" id="nombreFacu" formControlName="nombreFacu" required></td>
      </tr>
      <tr>
        <td><label for="decano" class="col-form-label">Decano</label></td>
        <td><input type="text" class="form-control" id="decano" formControlName="decano" required></td>
      </tr>
      <tr>
        <td><label for="modalidad" class="col-form-label">Modalidad</label></td>
        <td><input type="text" class="form-control" id="modalidad" formControlName="modalidad" required></td>
      </tr>
      <tr>
        <td><label for="proyecInvestFacu" class="col-form-label">Proyecto de Investigación</label></td>
        <td><input type="text" class="form-control" id="proyecInvestFacu" formControlName="proyecInvestFacu"></td>
      </tr>
      <tr>
        <td><label for="descripcion" class="col-form-label">Descripción</label></td>
        <td><textarea class="form-control" id="descripcion" formControlName="descripcion"></textarea></td>
      </tr>
      <tr>
        <td><label for="fechaCrea" class="col-form-label">Fecha de Creación</label></td>
        <td><input type="text" readonly class="form-control-plaintext" id="fechaCrea" formControlName="fechaCrea"></td>
      </tr>
      <tr>
        <td><label for="telefono" class="col-form-label">Teléfono</label></td>
        <td><input type="text" class="form-control" id="telefono" formControlName="telefono" required></td>
      </tr>
      <tr>
        <td><label for="correo" class="col-form-label">Correo</label></td>
        <td><input type="email" class="form-control" id="correo" formControlName="correo" required></td>
      </tr>
      <tr>
        <td><label for="programasAcademicos" class="col-form-label">Programa Académico</label></td>
        <td><input type="text" class="form-control" id="programasAcademicos" formControlName="programasAcademicos"></td>
      </tr>
      <tr>
        <td><label for="calendarioAcademico" class="col-form-label">Calendario Académico</label></td>
        <td><input type="text" class="form-control" id="calendarioAcademico" formControlName="calendarioAcademico"></td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="editarFacultadForm.invalid">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cancelarEditarFacultad()">Cancelar</button>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> <!-- Enlace a Bootstrap JS -->
