<style>
  /* Estilo personalizado para el navbar */
  .navbar {
    background-color: #004d40; /* Verde oscuro */
    padding: 0.75rem 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff !important;
  }

  .navbar-brand:hover {
    color: #81c784 !important; /* Verde claro al pasar el mouse */
  }

  .nav-link {
    font-size: 1.1rem;
    color: #ffffff !important;
    transition: color 0.3s ease;
  }

  .nav-link:hover,
  .nav-link.active {
    color: #81c784 !important; /* Verde claro para resaltar */
  }

  .bi {
    margin-right: 0.5rem; /* Espacio entre el ícono y el texto */
  }
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <!-- Logo de la aplicación -->
    <a class="navbar-brand" href="#">
      <i class="bi bi-building"></i> Facultad App
    </a>
    <!-- Enlaces de navegación -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a routerLink="facultades" routerLinkActive="active" class="nav-link">
          <i class="bi bi-list-ul"></i> Lista de Facultad
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="crear-facultad" routerLinkActive="active" class="nav-link">
          <i class="bi bi-plus-circle"></i> Añadir Facultad
        </a>
      </li>


    </ul>
  </div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
